
<ion-card>
   <ion-card-header><!--Creo un encabezado ion-card-->
      <ion-card-title>Mis Noticias</ion-card-title>
  </ion-card-header></ion-card>
  
  
  <ion-content class="ion-padding">
    <ion-card *ngFor="let noticia of gestionNoticias.articuloIndividual"> <!--Creo un ion-card para introducir la info-->
      <ion-card-content><!--Creo ion card content para introducir info más detallada-->
      <ion-label style="text-transform:uppercase" >{{noticia.source.id}}</ion-label><p></p>
      
      <ion-label>{{noticia.title}}</ion-label><!--Muestro el title de las noticias-->
      <ion-label>
        <ion-img src="{{noticia.urlToImage}}"></ion-img><!--Muestro la imagen de las noticias-->
      </ion-label>
      <ion-label>{{noticia.description}} </ion-label><!--Muestro la descripción de las noticias-->
      <ion-label><br>
        <a href ="{{noticia.url}}">Leer</a><!--Muestro la palabra leer con un enlace a expandir noticia-->
        
        <button ion-button icon-left>
        <!-- <ion-icon name="trash-outline" (click)="onClick();borrar(noticia)"></ion-icon></button> -->
        <ion-icon name="trash-outline" (click)="presentarAlerta(noticia);"></ion-icon></button>

      </ion-label></ion-card-content></ion-card></ion-content>
      
     